language: java

# whitelist
branches:
  only:
    - master
    - develop

before_install:
  - echo "USE mysql;\nUPDATE user SET password=PASSWORD('root') WHERE user='root';\nFLUSH PRIVILEGES;\n" | mysql -u root
  - mysql -e 'create database bsis;'

script: mvn -Dsurefire.useFile=false clean install

sudo: false
