#adminTab {
	position: relative;
	padding-left: 11em;
	min-height: 500px;
	padding-bottom: 50px;
}

#adminTab .ui-tabs-nav {
	position: absolute;
	left: 0.25em;
	top: 0.25em;
	bottom: 0.25em;
	width: 10.0em;
	padding: 0.2em 0 0.2em 0.2em;
}

#adminTab .ui-tabs-nav li {
	right: 1px;
	width: 100%;
	border-right: none;
	border-bottom-width: 1px !important;
	-moz-border-radius: 4px 0px 0px 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
	overflow: hidden;
}

#adminTab .ui-tabs-nav li.ui-tabs-selected {
	border-right: 1px solid transparent;
}

#adminTab .ui-tabs-nav li a {
	float: right;
	width: 100%;
	text-align: right;
}

#adminTab>div {
	overflow: auto;
}

.tableInputShort {
	max-width: 140px;
}

.formFieldId {
	display: none;
}

.formFieldDiv {
	padding-top: 8px;
	padding-bottom: 8px;
}

.formFieldLink {
  padding: 5px;
	cursor: pointer;
	color: #132CE7;
	font-weight: bold;
	text-decoration: underline;
}

.formFieldProperties {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	border: solid;
	border-width: 1px;
	margin: 10px;
	width: 400px;
	border-radius: 10px;
}

.userDiv {
	padding: 5px;
	cursor: pointer;
	color: #132CE7;
	font-weight: bold;
	text-decoration: underline;
}
