.findDonorForm table tbody tr td, .findDonorForm table thead tr th {
	padding-top: 3px;
	padding-bottom: 3px;
	border: 0;
}

#donorAddressInputBox {
	height: 65px;
	width: 300px;
	align: top;
	resize: none;
}

#donorCommentsInputBox {
	height: 65px;
	width: 300px;
	align: top;
	resize: none;
}

#donorsTab {
	position: relative;
	padding-left: 11em;
	min-height: 500px;
}

#donorsTab .ui-tabs-nav {
	position: absolute;
	left: 0.25em;
	top: 0.25em;
	bottom: 0.25em;
	width: 9em;
	padding: 0.2em 0 0.2em 0.2em;
}

#donorsTab .ui-tabs-nav li {
	right: 1px;
	width: 100%;
	border-right: none;
	border-bottom-width: 1px !important;
	-moz-border-radius: 4px 0px 0px 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
	overflow: hidden;
}

#donorsTab .ui-tabs-nav li.ui-tabs-selected {
	border-right: 1px solid transparent;
}

#donorsTab .ui-tabs-nav li a {
	float: right;
	width: 100%;
	text-align: right;
}

#donorsTab>div {
	overflow: auto;
}

