.findDonorForm table tbody tr td, .findDonorForm table thead tr th {
	padding-top: 3px;
	padding-bottom: 3px;
	border: 0;
}

#donorAddressInputBox {
	height: 65px;
	width: 300px;
	align: top;
	resize: none;
}

#donorCommentsInputBox {
	height: 65px;
	width: 300px;
	align: top;
	resize: none;
}