#login {
	margin-left: 20%
}

.actionButtonsPanel {
	margin-left: 30%
}

.loginHeading {
	color: #6E66B3;
	font-family: arial;
}

.loginButton {
	margin-left: 280px;
	margin-bottom: 30px;
}

.loginPanel {
	margin: 50px -250px 0;
}