.findProductForm table tbody tr td, .findProductForm table thead tr th {
	padding-top: 3px;
	padding-bottom: 3px;
	border: 0;
}

.findProductForm table tbody tr td button {
	margin-left: 10px;
}

#productsTab {
	position: relative;
	padding-left: 11em;
	min-height: 500px;
}

#productsTab .ui-tabs-nav {
	position: absolute;
	left: 0.25em;
	top: 0.25em;
	bottom: 0.25em;
	width: 10.0em;
	padding: 0.2em 0 0.2em 0.2em;
}

#productsTab .ui-tabs-nav li {
	right: 1px;
	width: 100%;
	border-right: none;
	border-bottom-width: 1px !important;
	-moz-border-radius: 4px 0px 0px 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
	overflow: hidden;
}

#productsTab .ui-tabs-nav li.ui-tabs-selected {
	border-right: 1px solid transparent;
}

#productsTab .ui-tabs-nav li a {
	float: right;
	width: 100%;
	text-align: right;
}

#productsTab>div {
	overflow: auto;
}

.productLabel {
	width: 700px;
	border: solid;
	border-width: 1px;
	position: relative;
	margin-right: auto;
	margin-top: 60px;
	margin-bottom: 60px;
}

.productLabelQuadrant {
	text-align: center;
	border: solid;
	border-width: 1px;
	display: inline-block;
	min-width: 344px;
	height: 150px;
	margin: 0;
	padding-left: 2px;
	padding-top: 10px;
	vertical-align: top;
}

.upperLeftQuadrant {
}

.upperRightQuadrant {
}

.lowerLeftQuadrant {
}

.lowerRightQuadrant {
}
