.findRequestsForm table tbody tr td, .findRequestsForm table thead tr th {
	padding-top: 3px;
	padding-bottom: 3px;
	border: 0;
}

.findRequestsForm table tbody tr td button {
	margin-left: 10px;
}

#requestsTab {
	position: relative;
	padding-left: 11em;
	min-height: 500px;
	padding-bottom: 50px;
}

#requestsTab .ui-tabs-nav {
	position: absolute;
	left: 0.25em;
	top: 0.25em;
	bottom: 0.25em;
	width: 11.0em;
	padding: 0.2em 0 0.2em 0.2em;
}

#requestsTab .ui-tabs-nav li {
	right: 1px;
	width: 100%;
	border-right: none;
	border-bottom-width: 1px !important;
	-moz-border-radius: 4px 0px 0px 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
	overflow: hidden;
}

#requestsTab .ui-tabs-nav li.ui-tabs-selected {
	border-right: 1px solid transparent;
}

#requestsTab .ui-tabs-nav li a {
	float: right;
	width: 100%;
	text-align: right;
}

#requestsTab>div {
	overflow: auto;
}

.issueProductsDiv > div > label {
	width: 150px;
	display: inline-block;
	margin-left: 30px;
}

.issueProductSelector {
	margin-top: 10px;
}
