#topPanelTabs {
	padding: 0;
	margin: 0;
	width: 100%;
	border: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#topTabs {
	border: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.topPanelTabs {
	width: 100%;
	list-style: none;
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	align: center;
}

.topPanelTab {
	border: 1;
	padding-bottom: 1px;
}

ul.adminTopPanelTabs li {
	width: 138px;
}

#v2vHeading {
  background-color: #024747;
  background-image: linear-gradient(bottom, #1075A1 0%, #0C5575 64%);
  background-image: -o-linear-gradient(bottom, #1075A1 0%, #0C5575 64%);
  background-image: -moz-linear-gradient(bottom, #1075A1 0%, #0C5575 64%);
  background-image: -webkit-linear-gradient(bottom, #1075A1 0%, #0C5575 64%);
  background-image: -ms-linear-gradient(bottom, #1075A1 0%, #0C5575 64%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #1075A1),
    color-stop(0.64, #0C5575)
  );
	padding: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#v2vHeading a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 1.4em;
	font-family: arial;
}

#donorsLandingPageContent {
	padding: 0;
	margin: 0;
	width: 100%
}

#collectionsLandingPageContent {
	padding: 0;
	margin: 0;
	width: 100%
}

#testResultsLandingPageContent {
	padding: 0;
	margin: 0;
	width: 100%
}

#productsLandingPageContent {
	padding: 0;
	margin: 0;
	width: 100%
}

#requestsLandingPageContent {
	padding: 0;
	margin: 0;
	width: 100%
}

#usageLandingPageContent {
	padding: 0;
	margin: 0;
	width: 100%
}

#reportsLandingPageContent {
	padding: 0;
	margin: 0;
	width: 100%
}

#adminLandingPageContent {
	padding: 0;
	margin: 0;
	width: 100%
}

.headlink {
	float: right;
	margin: -40px 50px 20px 0;
	font-family: arial;
}

.headlink a {
	color: white;
	cursor: pointer;
	margin: 0 20px 0 0;
	text-decoration: underline;
}

.topPanelUsername {
	color: white;
	display: inline;
	margin-right: 25px;
}
