#topPanelTabs {
	padding: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#topTabs {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.topPanelTabs {
	width: 100%;
	list-style: none;
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	align: center;
}

.topPanelTab {
	border: 1;
	padding-bottom: 1px;
}

ul.adminTopPanelTabs li {
	width: 138px;
}

#v2vHeading {
	background-color: #4D5479;
	padding: 15px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#v2vHeading a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 30pt;
	font-family: arial;
}

.headlink {
	float: right;
	margin: -40px 50px 20px 0;
	font-family: arial;
}

.headlink a {
	color: white;
	cursor: pointer;
	margin: 0 20px 0 0;
	text-decoration: underline;
}

.topPanelUsername {
	color: white;
	display: inline;
	margin-right: 25px;
}
